// ICON
$color-yellow: #FFEE33;
$color-orange-brown: #daa413;
$color-orange: #FE7615;
$color-pink: #F65E6B;
$color-green: #8ACD25;


// BACKGROUND
$color-primary-light-1: #4EA7FE;
$color-primary-light: #0F88F2;
$color-primary: #006BE4;
$color-primary-dark: #0067E9;
$color-primary-dark-1: #1189F2;
$color-primary-dark-2: #0052BD;

$color-white: #fff;
$color-grey-light: #FAFAFA;
$color-grey-dark: #757575;

// FONT
$color-font-1: #335578;
$color-font-2: #67A2CE;
