.header {
    background-color: $color-primary-light;
    
    &__hero {
        max-width: 144rem;
        margin: 0 auto;
        padding: 10rem;

        @media only screen and (max-width: $bp-large) {
            padding: 4rem;
        }
    }

    &__content {
        display: flex;
        margin-bottom: 3rem;
        
        @media only screen and (max-width: $bp-large) {
            justify-content: center;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 5rem;
        }
    }
    
    &__text {
        width: 50%;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-large) {
            text-align: center;
            width: 100%;
        }
    }
    
    &__paragraph {
        color: $color-white;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 3rem 0;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.8rem;
            padding-bottom: 3rem;
            margin-bottom: 0;
        }
    }
    
    &__img {
        max-width: 60%;
        max-height: 40%;
        margin-top: -6rem;
        margin-right: -10rem;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    &__credit {
        display: block;
        text-align: center;

        &-box-1 {
            display: inline-block;
            text-align: center;
        }

        &-box-2 {
            display: inline-block;
            text-align: center;

            & img {
                display: inline-block;
                width: 8rem;
                box-sizing: content-box;
                height: 2.5rem;
                padding: 1rem 0;
                opacity: .6;

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                @media only screen and (max-width: $bp-large) {
                    width: 10rem;
                    padding: 0;
                }

                @media only screen and (max-width: $bp-smallest) {
                    padding: .5rem;
                }
            }
        }

        &-text {
            color: $color-grey-light;
            font-size: 1.2rem;
            font-weight: 400;
            margin-right: 2rem;
            transform: translateY(-1.8rem);

            @media only screen and (max-width: $bp-large) {
                transform: translateY(-1.2rem);
            }
        }
    }

    &__btn {
        display: inline-block;
        text-align: center;

        &-below {
            color: $color-grey-light;

            @media only screen and (max-width: $bp-smallest) {
                font-size: 1.2rem;
            }
        }
    }
}