.nav {
    background-color: $color-primary-light;

    &__container {
        max-width: 144rem;
        margin: 0 auto;
        display: flex;
        padding: 1.5rem 10rem;
        align-items: center;
    }

    &__logo {
        height: 5rem;
        margin-right: 4rem;
    }

    &__lists {
        display: flex;
        list-style: none;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        font-weight: 500;
        color: $color-white;
        text-decoration: none;
        filter: brightness(90%);
    }

    &__link:hover,
    &__link:active {
        filter: brightness(100%);
    }
}