.pros {
    background-color: $color-white;
    max-width: 144rem;
    margin: 0 auto;
    padding: 4rem 0;

    &__heading {
        color: $color-primary-dark-2;
        font-size: 3rem;
        font-weight: 300;
        display: block;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 4rem;
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3 , minmax(min-content, 1fr));
        padding: 4rem;
        grid-gap: 8rem;

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3 , minmax(min-content, 1fr));
       }

        @media only screen and (max-width: $bp-medium) {
            padding: 0;
        }
    }

    &__content {

        @media only screen and (max-width: $bp-large) {
            display: flex;

            &-text {

                @media only screen and (max-width: $bp-large) {
                    flex: 1;
                    padding-left: 2rem;
                }

                @media only screen and (max-width: $bp-medium) {
                    text-align: left;
                }

                &--right {

                    @media only screen and (max-width: $bp-large) {
                        padding-left: 0;
                        padding-right: 2rem;
                    }

                    @media only screen and (max-width: $bp-smallest) {
                        padding-left: 2rem;
                        padding-right: 0;
                    }
                }
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            align-items: center;
       }

        &--right {

            @media only screen and (max-width: $bp-large) {
                flex-direction: row-reverse;
            }
            
            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
           }
        }
    }

    &__content-header {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 2rem;
        line-height: 3.8rem;
    }

    &__img {
        display: block;
        width: 100%;
        margin-bottom: 3rem;

        @media only screen and (max-width: $bp-large) {
            width: 40%;
            margin-bottom: 0;
       }

        @media only screen and (max-width: $bp-medium) {
            width: 80%;
            margin-bottom: 2rem;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 3rem;
        color: $color-grey-dark;
        position: relative;

        @media only screen and (max-width: $bp-large) {
            position:static;
       }     

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &-1 {
            &::before {
                content: "";
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
                margin-right: .7rem;
                background-image: url(/img/check-correct-svgrepo-com-1.svg);
                background-size: cover;
                left: -2.5rem;
                top: .8rem;
                position: absolute;

                @media only screen and (max-width: $bp-large) {
                    position:static;
               }

                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: $color-green;
                    background-image: none;
                    -webkit-mask-image: url(/img/check-correct-svgrepo-com-1.svg);
                    -webkit-mask-size: cover;
                }
            }
        }

        &-2 {
            &::before {
                content: "";
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
                margin-right: .7rem;
                background-image: url(/img/check-correct-svgrepo-com-1.svg);
                background-size: cover;
                left: -2.5rem;
                top: .8rem;
                position: absolute;

                @media only screen and (max-width: $bp-large) {
                    position:static;
               }

                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: $color-orange;
                    background-image: none;
                    -webkit-mask-image: url(/img/check-correct-svgrepo-com-1.svg);
                    -webkit-mask-size: cover;
                }
            }
        }

        &-3 {
            &::before {
                content: "";
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
                margin-right: .7rem;
                background-image: url(/img/check-correct-svgrepo-com-1.svg);
                background-size: cover;
                left: -2.5rem;
                top: .8rem;
                position: absolute;

                @media only screen and (max-width: $bp-large) {
                    position:static;
               }

                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: $color-orange-brown;
                    background-image: none;
                    -webkit-mask-image: url(/img/check-correct-svgrepo-com-1.svg);
                    -webkit-mask-size: cover;
                }
            }
        }
    }

    &__span {

        &--1 {
            color: $color-green;
        }

        &--2 {
            color: $color-orange;  
        }

        &--3 {
            color: $color-orange-brown;            
        }
    }
}