.sold {
    background-color: $color-grey-light;
    display: block;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 10rem;

    @media only screen and (max-width: $bp-large) {
        padding: 4rem 2rem;
   }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        display: block;
        width: 50rem;
        padding: 6rem;
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            width: 50%;
            padding: 0;
            margin: 10rem 0;
       }

        @media only screen and (max-width: $bp-small) {
            margin: 5rem 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
        }
    }

    &__heading {
        color: $color-primary-dark-2;
        font-size: 3rem;
        font-weight: 300;
    }

    &__description {
        margin-top: 3.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        
        @media only screen and (max-width: $bp-large) {
            margin: 2.5rem 0;
       }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

    &__img {
        width: 80%;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-large) {
            width: 104%;
            box-shadow: 0 2rem 8rem rgba($color-black, .15);
       }

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        grid-template-rows: repeat(3, minmax(min-content, 1fr));
        grid-gap: 2rem;
        margin: 2rem;

        @media only screen and (max-width: $bp-large) {
            margin: 4rem;
       }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(1, minmax(min-content, 1fr));
            text-align: center;
            margin: 0;
            grid-gap: 4rem;
        }
    }

    &__grid-icon {
        width: 5rem;
        height: 5rem;
        margin-bottom: .5rem;

        @media only screen and (max-width: $bp-small) {
            width: 10rem;
            height: 10rem;
        }
    }

    &__heading-3 {
        font-size: 2rem;
        font-weight: 600;
        color: $color-font-1;
        margin-bottom: 1.5rem;

        &__span {


            &--1 {
                color: $color-green;
            }

            &--2 {
                color: $color-orange;
            }

            &--3 {
                color: $color-primary-light-1;
            }

            &--4 {
                color: $color-orange-brown;
            }

            &--5 {
                color: $color-pink;
            }

            &--6 {
                color: $color-primary-dark-2;
            }
        }
    }

    &__paragraph-1 {
        font-size: 1.6rem;
        font-weight: 300;
        color: $color-font-1;
        margin-bottom: 1.5rem;
        line-height: 2.75rem;

        @media only screen and (max-width: $bp-small) {
            text-align: left;
        }

        @media only screen and (max-width: $bp-smallest) {
            text-align: center;
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

    &__paragraph-2 {
        font-size: 1.6rem;
        font-weight: 300;
        color: $color-font-1;
        line-height: 2.75rem;

        @media only screen and (max-width: $bp-small) {
            text-align: left;
        }

        @media only screen and (max-width: $bp-smallest) {
            text-align: center;
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }
}