.story {
    background-color: $color-white;
    max-width: 144rem;
    margin: 0 auto;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 6rem 0;
        padding: 0 10rem;
        justify-content: center;
    }

    &__content,
    &__content-left,
    &__content-right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-right {
            flex-direction: row-reverse;
        }

        &:not(:last-child) {
            margin-bottom: 10rem;
        }
    }

    &__text {
        flex: 0 0 auto;
        max-width: 50%;
        padding-right: 10rem;
        text-align: left;

        &-pd {
            padding-right: 0;
            text-align: right;
        }
    }

    &__heading {
        max-width: 50rem;
        color: $color-font-1;
        align-self: center;
        margin-bottom: 2rem;

        &__left {
            text-align: left;
        }

        &__right {
            text-align: right;
        }
    }

    &__paragraph {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__img {
        flex: 0 0 auto;
    }

    &__img-1 {
        max-width: 50%;
    }

    &__img-2 {
        max-width: 60%;
        padding-right: 3rem;
    }

    &__img-3 {
        max-width: 50%;
    }
}